@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    color: #222;
}

input, button {
    display: block;
    margin: 20px 0;
    padding: 5px 10px;
}

button {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    display: inline-block;
    background-color: #fff;
    color: #222;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 10px 0 0;
}

.login-container {
    height: 100vh;
    background-color: #ffc0cb;
    padding: 0 20px;
}

.login {
    height: 100vh;
    flex-direction: column;
}

.login h1 {
    margin-bottom: 20px;
}

.form {
    width: 100%;
    padding: 30px 10px;
    background: #fff;
    border-radius: 10px;
}

.form-input, .form-btn {
    width: 100%;
    border: none;
    outline: none;
}

.form-input {
    border-bottom: 1px solid #595656;
}

.form-input:focus {
    border-bottom: 2px;
}

.form-btn {
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #e38393;
}

.form-btn:hover {
    background-color: #e55e74;
}

.form span {
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}