@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
}

.container {
    padding: 20px;
}

.nav-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
}